<h1>This is the home</h1>
<div>
  <% articles.forEach(function(article){ %>
  <div>
    <h3><%= article.title %></h3>
    <%= article.content %>
    <div>Created on: <%= moment(article.createdAt).fromNow() %></div>
  </div>
  <% }) %>
</div>
